.inc {
	padding: 0px;
}

.sub {
	padding: 0px;
}

div#billmate-success {
	margin: 14px 10px 10px 0;
}
div#billmate-success iframe{
	min-width: 400px;
	width: 100%;
	height: 850px;
	border: 1px solid #f0f0f0;
}